* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #919191;
    line-height: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1d1d1d;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.title {
    margin-left: 2rem;
}

.form {
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
}

#text {
    background-color: #282828;
    color: #a2a2a2;
    font-size: 1rem;
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
    height: 1.5rem;
    width: 800px;
    border-radius: 8px;
    outline: none;
    border: none;
}

#text:focus {
    outline: none;
}

.button {
    padding: 7px 0 7px;
    width: 100px;
    height: 37px;
    margin-left: 2rem;
    background-color: green;
    color: #ffff;
    cursor: pointer;
}

.image-section {
    border-top: 1px solid #1d1d1da8;
    margin-top: 3rem;
    padding: 1rem;
}

.result {
    font-size: 1.5rem;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
}